IzendaHours/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IzendaHoursWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IzendaHoursWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIzendaHoursDataContract.ItemDetailsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IzendaHoursDataContract.ItemDetailsDataContract" nillable="true" type="tns:IzendaHoursDataContract.ItemDetailsDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIzendaHoursDataContract.ItemDetailsDataContract" nillable="true" type="tns:ArrayOfIzendaHoursDataContract.ItemDetailsDataContract" />
  <xs:complexType name="IzendaHoursDataContract.ItemDetailsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WikiLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IzendaHoursDataContract.ItemDetailsDataContract" nillable="true" type="tns:IzendaHoursDataContract.ItemDetailsDataContract" />
</xs:schema>